<server description="Sample Liberty server">

  <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>websocket-1.1</feature>
        <feature>jsp-2.3</feature>
    	<feature>jsonp-1.0</feature>
	    <feature>jaxrs-2.0</feature>
        <feature>jndi-1.0</feature>
    	<feature>transportSecurity-1.0</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />


	<jndiEntry jndiName="rc_server_port" value="${default.http.port}"/>

  <!-- Automatically expand WAR files and EAR files -->
  <applicationManager autoExpand="true"/>

  <webApplication name="RogueCloudClientLiberty" location="${app.location}"/>

</server>
